<div id="<%= dom_id league %>">
<div class="text-gray-700 border-b border-gray-200 w-full pb-2">
  <%= league.name %>
</div>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= league.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this league", league, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this league', edit_league_path(league), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
