<%= render "partials/navbar" %>
<div class="flex w-full h-full">
  <aside class="w-72" aria-label="Sidebar">
    <div class=" py-4 px-3 bg-gray-100 rounded dark:bg-gray-800 h-full">
      <ul class="space-y-2">
        <li>
          <h2 class="font-bold">Mes ligues</h2>      
        </li>
      </ul>
      <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
        <% if current_user %>
          <% @user_leagues.each do | league | %>
          <li>
            <%= link_to league.name, league_path(league.id), data: { turbo_frame: "user_league", turbo_action: "replace" }, class:"font-medium hover:underline" %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <div class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
        <%= link_to "Créer une nouvelle ligue", new_league_path, data: { action: "click->modal#open", turbo_stream: "" }, class:"focus:outline-none bg-amber-400 hover:bg-amber-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900" %>        
      </div>
    </div>
  </aside>
  <div class="grow">
    <% if notice.present? %>
      <div class="p-4 text-sm text-green-700 bg-green-100 rounded-lg w-full dark:bg-green-200 dark:text-green-800" role="alert" id="notice">
        <span class="font-medium"><%= notice %></span>
      </div>
    <%end%>
    <div class="h-full">
      <% @leagues.each do |league|%>
        <p class="py-2.5 px-5 w-full border border-gray-100">
          <%= link_to league.name, league_path(league.id), data: { turbo_frame: "league", turbo_action: "replace" }, class:"font-medium hover:underline" %>
          <%= LeaguesUsers.where("league_id = ?", league.id).count%>/4
          <% if league.password.nil?%>
            Ligue publique
          <% else %>
            Ligue privée
          <%end%>
        </p>
      <% end %>
    </div>
    <div class="h-full">
      <%=turbo_frame_tag id="user_league"%>
    </div>
  </div>
</div> 