<%= render "partials/navbar" %>
<div class="flex w-full h-full">
  <aside class="w-72" aria-label="Sidebar">
    <div class="overflow-y-auto py-4 px-3 bg-gray-100 rounded dark:bg-gray-800 h-full">
        <ul class="space-y-2">
          <li>
            <h2 class="font-bold">Mes ligues</h2>      
          </li>
        </ul>
        <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
          <% @leagues.each do | league | %>
          <li>
            <%= link_to league.name, league_path(league.id), data: { turbo_frame: "league", turbo_action: "replace" }, class:"font-medium hover:underline" %>
          </li>
          <% end %>
        </ul>
        <div class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
          <%= link_to "Créer une nouvelle ligue", new_league_path, data: { action: "click->modal#open", turbo_stream: "" }, class:"focus:outline-none bg-amber-400 hover:bg-amber-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900" %>        
        </div>
      </div>
  </aside>
  <div class="grow">
    <div class="h-full">
      <% if @league_member == nil %>
        <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 w-full text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="py-2 px-3 bg-red-50 w-full text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
        <% end %>
        <div class="text-center text-lg my-6">
          <%= @league.name%>
        </div>
        <%= form_with model: LeaguesUsers.new, url:leagues_users_path do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id%>
          <%= form.hidden_field :league_id, value: params[:id]%>
          <% unless @league.password.nil?%>
            <div class="flex flex-col items-center">
              <%= form.label :mot_de_passe, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
              <%= form.password_field :password, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-72 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4 "%>
            </div>
          <%end%>
          <div class="flex justify-center">
            <%= link_to "Annuler", leagues_path, class: "w-72 sm:col-start-2 bg-gray-200 px-4 py-2 mb-4 text-center rounded-sm hover:bg-gray-300 mr-2" %>
            <%= form.submit "Rejoindre", class: "w-72 sm:col-start-2 bg-blue-600 px-4 py-2 mb-4 text-white rounded-sm hover:bg-blue-700" %>
          </div>
        <%end%>
      <% else %>
        <%= turbo_frame_tag "league" do %>
          <div class="flex h-full">
            <div class="grow">
              <% if notice.present? %>
                <p class="py-2 px-3 bg-green-50 w-full text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
              <% end %>
              <%= render @league %>
                <div class="flex">
                  <%= button_to 'Quitter cette ligue', leagues_user_path(user_id: current_user.id), method: :delete, class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
                  <%if @league.admin == current_user%>
                    <%= link_to 'Modifier cette ligue', edit_league_path(@league), class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                    <%= button_to 'Supprimer cette ligue', league_path(@league), method: :delete, class: "mt-2 ml-2  rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
                    <%= button_to "Déterminer l'ordre de sélection", league_path(@league), method: :post, class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
                  <%end%>
                </div>
            </div>
            <aside class="w-72" aria-label="Sidebar">
              <div class="py-4 px-3 bg-gray-100 rounded dark:bg-gray-800 h-full flex flex-col">
                <ul class="space-y-2">
                  <li>
                    <h2 class="font-bold">
                      <% unless @team == nil %>
                        <%= @team.name %>
                      <% else %>
                        <%= link_to "Créer mon équipe", new_team_path(league_id: params[:id]), data: { turbo_frame: "teamForm"}, class:"focus:outline-none bg-amber-400 hover:bg-amber-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900" %>
                        <%=turbo_frame_tag id="teamForm"%>
                      <%end%>
                    </h2>      
                  </li>
                </ul>
                <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
                  <h3>Mes candidats</h2>      
                </ul>
                <% unless @team == nil %>
                  <% unless @team.candidate_one.nil? %>
                    <li>
                      <%= @team.candidate_one.name %>
                    </li>
                  <%end%>            
                  <% unless @team.candidate_two.nil? %>
                    <li>
                      <%= @team.candidate_two.name %>
                    </li>
                  <%end%>            
                  <% unless @team.candidate_three.nil? %>
                    <li>
                      <%= @team.candidate_three.name %>
                    </li>
                  <%end%>
                  <% unless @team.candidate_four.nil? %>
                    <li>
                      <%= @team.candidate_four.name %>
                    </li>
                  <%end%>
                  <% if @team.can_draft%>
                    <%= link_to "Choisir un candidat", candidates_path(league:params[:id])%>
                  <% end %>
                  <%= link_to "Modifier le nom d'équipe", edit_team_path(@team), class:"focus:outline-none bg-amber-400 hover:bg-amber-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg mt-2 text-sm py-2.5 dark:focus:ring-yellow-900 text-center"  %>
                <%end%>
              </div>
            </aside>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
